body
{
    font-family: 'Tahoma','Arial';
    overflow-x: hidden;
    
}

span.animated
{
    animation: infinite 3s anime 3s;
}

.sub-line
{
    background-color: cyan;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: right;
}

.sub-line .truc
{
    background-color: red;
}



/* fin du header */
/* debut de la page accueil */

div.accueil
{
    /* background-image: url("images/accueil_bg.png"); rgb(251, 251, 251)*/
    background-color: rgb(252, 252, 227);
    width: 100%;
    height: 100vh;
    display: flexbox;
    justify-content: center;
    align-items: center;

}



div.ligne
{
    width: 100%;
    display: flex;
    justify-content: center;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

aside.left
{
    width: 30%;
    height: 85%;
    top: 15%;
    position: relative;
    /* background-color: aliceblue; */
}

 .ed
{
   position: absolute;
   display: flex;
   opacity: 0;
   bottom: 15%;
   width: 65%;
   height: 30px;
   /* border-radius: 50%; */
   animation: moov 4s infinite;
   transition: 2s;
   color: rgb(142, 142, 142);
}



.ed:nth-child(1)
{
    animation-delay: 0.6s;
    font-size: 1.8em;
    z-index: 0;
    color: orange;
}
.ed:nth-child(2)
{
    animation-delay: 1.6s;
    font-size: 2.4em;
    animation: moov 6s infinite;
    color: crimson;
}
.ed:nth-child(3)
{
    animation-delay: 2.4s;
    color: #6fc344;
}
.ed:nth-child(4)
{
    animation-delay: 3.2s;
    left: 35%;
    font-size: 1.6em;
    color: rgb(188, 145, 36);
}
.ed:nth-child(5)
{
    animation-delay: 0s;
    left: 20%;
    font-size: larger;
    color: #F4421C;
}
.ed:nth-child(6)
{
    animation-delay: 1s;
    left: 50%;
    font-size: 1.2em;
    color: rgb(118, 12, 102);
}
.ed:nth-child(7)
{
    animation-delay: 0.7s;
    font-size: 1.4em;
    left: 70%;
    color: #be0e5a;
}


@keyframes moov {
   0%{
    opacity: 0;
    transform: translateY(5px);
   } 
   20%
   {
    opacity: 0;
   }
   50% 
   {
    opacity: .8;
   }

      100%{
    opacity: 0;
    transform: translateY(-400px);
   } 
}

aside.rigth
{
    width: 30%;
    height: 85%;
    top: 15%;
    left: 70%;
    position: absolute;
}

div.col
{
    width: 70%;
    height: 100%;
    /* background-color: rgb(251, 251, 251); */
    border-radius: 1vh;
    color: rgb(99, 90, 90);
    opacity: 0.85;
    font-family: Calibri, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.col div.head
{
    width: 100%;
    display: flex;
    justify-content: center;

}

div.col div.head div.center
{
    font-size: 3em;
    display: flex;
    justify-content: center;
    width: 60%;
    border-bottom: 1px solid gray;
}

div.col .texte
{
    display: flex;
    justify-content: center;
    width: 100%;
}
div.col p.content
{
    width: 100%;
    font-size: 1.7em;
    text-align: justify;
    color: rgb(115, 107, 107);
    display: flex;
    justify-content: center;
}


/* ligne2 */

div.ligne2
{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    justify-content: center;
    width: 100%;
    height: 7vh;
}

div.ligne2 a
{
    width: 20%;
    height: 90%;
    background-color: #F4421C;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    border: 1px solid #F4421C;
    border-radius: 7px;
    font-size: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 0 0 rgb(244, 66, 28);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: infinite 1.5s pulse 0.8s;
}

/* div.ligne2 a:hover
{
    animation: pulse .8s;
} */

@keyframes pulse
{
    to 
    {
        box-shadow: 0 0 0 15px rgba(244, 90, 55, 0.01);
    }
}

/*     0%
    {
        box-shadow: 0px 0px 2px 6px rgb(244, 66, 28, 0.1);

    }
    60%
    {
        box-shadow: 0px 0px 2px 6px rgb(244, 66, 28, 0.2);

    }

    100% 
    {
        box-shadow: 0px 0px 2px 6px rgb(244, 66, 28, 0.1);
        
    } */

/* fin de la page accueil */

/* comment proceder ? */

div.comment
{
    display: flex;
    justify-content: space-evenly;
    color: rgb(115, 107, 107);
    font-family: Calibri;
}

div.items
{
  width: 25%;   
}

div.container
{
    box-shadow: 2px 3px 5px 0px rgba(114, 114, 114, 0.6);
    border-radius: 7px;
}

 .first
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.first .inner
{
    width: 10%;
    height: 5vh;
    border-radius: 80%;
    display: flex;
    justify-content: center;

    color: rgb(202, 202, 202);
    /* background-color: #F4421C; */
    border: 2px solid #F4421C;
    transition: all ease 0.7s;
}

.first .inner:hover
{
    background-color: #F4421C;
    border: 2px solid rgb(218, 218, 22);
    color: white;
}

 .first .inner span.con 
{
    margin-bottom: 5px;
    font-size: 2em;
}

.titre
{
    display: flex;
    height: 20%;
    /* justify-content: center; */
    color: rgb(105, 99, 99);
}

.titre .content
{
    display: flex;
    /* justify-content: center; */
    width: 90%;
    margin-left: 4vh; 
    border-bottom: 1px solid gray;
    font-size: 1.8em;
}

div.content-text
{
    width: 100%;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

p.texte
{
    width: 85%;
    text-align: justify;
    font-size: 1.2em;
}

.between
{
    display: flex;
    justify-content: center;
    height: 4vh;
}

.between .mid-between /* cercle v*/
{
    width: 10%;
    border-radius: 80%;
    display: flex;
    justify-content: center;
    background-color: #F4421C;
    font-size: 1.4em;
    color: rgb(209, 205, 205);
}

/* .third
{
    background-image: url("images/main_bg.png");
    width: 100%;
    height: 40vh;
    animation: 2s anime;
} */

/* fin de div.comment */

.astuce-container
{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    transition: all ease .7s;
    
}

.astuce-container .astuce-card
{
    width: 50%;
    height: 100%;
    padding: 2px;
    transition: all ease 1s;
}

.astuce-container .astuce-card img.alternate
{
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    transition: all ease 0.7s;
}



.bg{
    background-color: #fff;
}


.a-propos
{
    width: 100%;
    height: 25vh;
    background-color: rgb(212, 212, 212);
}

@keyframes anime
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
