body
{
    font-family: 'Tahoma','Arial';
}

span.animated
{
    animation: infinite 3s anime 3s;
}

.sub-line
{
    background-color: cyan;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: right;
}

.sub-line .truc
{
    background-color: red;
}

a
{
    text-decoration: none;
    color: none;
}

a.link
{
    color: rgb(99, 90, 90);
}

header.en-tete
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -1.1vh;
    position: fixed;
    background-color: rgb(255, 255, 255);
    color: rgb(99, 90, 90);
}


header.en-tete span.title
{
    font-size: 3em;
    line-height: 40px;
    
}

span.ceve
{
    color: #F4421C;
    font-size: 1.1em;
}

header.en-tete ul.list
{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    width: 40%;
    line-height: 25px;
}

header.en-tete ul.list .item
{
    font-size: 1.2em;
    text-decoration: none;
}

/* fin du header */
/* debut de la page accueil */

div.accueil
{
    background-image: url("images/accueil_bg.png");
    width: 100%;
    height: 100vh;
    display: flexbox;
    justify-content: center;
    align-items: center;

}



div.ligne
{
    width: 100%;
    display: flex;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

aside.left
{
    width: 30%;
    height: 85%;
    top: 15%;
    /* background-color: rgba(0, 225, 255, 0.977); */
    position: absolute;
}

aside.left .left-middle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: bisque;

    width: 100%;
    height: 80%;
    display: none;
}

aside.rigth
{
    width: 30%;
    height: 85%;
    top: 15%;
    left: 70%;
    /* background-color: red; */
    position: absolute;
}

div.col
{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 1vh;
    color: rgb(99, 90, 90);
    opacity: 0.95;
    font-family: Calibri, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.col div.head
{
    width: 100%;
    display: flex;
    justify-content: center;

}

div.col div.head div.center
{
    font-size: 3em;
    display: flex;
    justify-content: center;
    width: 60%;
    border-bottom: 1px solid gray;
}

div.col .texte
{
    display: flex;
    justify-content: center;
    width: 100%;
}
div.col p.content
{
    width: 80%;
    font-size: 1.3em;
    text-align: justify;
    color: rgb(115, 107, 107);
}


/* ligne2 */

div.ligne2
{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    justify-content: center;
    width: 100%;
    height: 7vh;
}

button.commencer
{
    width: 40%;
    height: auto;
    background-color: #F4421C;
    font-family: Calibri,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    border: 1px solid #F4421C;
    border-radius: 7px;
    font-size: 1.8em;
    cursor: pointer;
}


/* fin de la page accueil */

/* comment proceder ? */

div.comment
{
    display: flex;
    justify-content: space-evenly;
}

div.items
{
  width: 25%;   
}

div.container
{
    border: 1px solid gray;
    border-radius: 7px;
}

div.items .container .first
{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    width: 100%;
}

div.items .container .first .inner
{
    width: 13%;
    border-radius: 80%;
    display: flex;
    justify-content: center;

    color: rgb(211, 211, 211);
    background-color: #F4421C;
}

div.items .container .first .inner span.con 
{
    font-size: 2em;
}

.titre
{
    display: flex;
    height: 20%;
    /* justify-content: center; */
    color: rgb(105, 99, 99);
}

.titre .content
{
    display: flex;
    justify-content: center;
    width: 80%;
    border-bottom: 1px solid gray;
    font-size: 1.4em;
}

p.texte
{
    display: flex;
    justify-content: center;
    color: rgb(105, 99, 99);
}


